NODE_ENV=development
PORT=4000
FRONTEND_ORIGIN=http://localhost:3000,http://localhost:8092

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_DATABASE_ID=petapp

LOG_LEVEL=info
